<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit</h1>
<form action="/edit/{id}" method="post">
    •	Tên homestay
    <input type="text" name="name" value="{name}" >
    <br>
    •	Thành phố

    <input type="text" name="city" value="{city}" >
    <br>
    •	Số phòng ngủ

    <input type="text" name="numberR" value="{roomNumber}" >
    <br>
    •	Giá

    <input type="text" name="price" value="{price}" >
    <br>
    •	Số phòng vệ sinh

    <input type="text" name="WCnumber"  value="{bathroom}">
    •	Mô tả về homestay

    <input type="text" name="description" value="{description}" >

    <button type="submit">Gửi</button>
</form>

</body>
</html>